<div class="card mb-4" id="search-result" data-id={{id}}>
  <div class="card-content">
    <div class="script-details mb-2">
      <p class="title is-4">{{title}}</p>
      <p class="subtitle is-6">{{description}}</p>
    </div>
    <div class="content">
      <p><strong>Author:</strong>
        {{Writer.firstName}} {{Writer.lastName}}</p>
      <p>{{text}}</p>
      {{!-- <p><em>Published on {{format_date updatedAt}}</em></p> --}}
    </div>
  </div>
</div>