{{> loggedin-nav}}

<div class="columns is-mobile" id="main">
  {{#if (eq userRole "writer")}}
  {{> writer-menu}}
  {{else}}
  {{> agent-menu}}
  {{/if}}

  <main class="column">
    <a href="#" onclick="history.back()">
      <i class="fa fa-arrow-circle-left fa-3x"></i>
    </a>
    <div id="full-script-info" class="pl-4">
      <h1 class="is-size-2 is-size-4-mobile has-text-weight-bold pb-5" id="script-title">
        {{scriptData.title}}
      </h1>
      <h2 class="is-size-4 is-size-5-mobile has-text-weight-medium mb-3" id="script-description">
        {{scriptData.description}}
      </h2>
      <p id="script-text" class="is-size-5 is-size-6-mobile">
        {{scriptData.text}}
      </p>
      <div class="mt-5">
        <p class="is-size-6 is-size-7-mobile has-text-weight-medium mb-1">
          Written by:
        </p>
        <p class="is-size-6 is-size-7-mobile">
          {{scriptData.Writer.firstName}} {{scriptData.Writer.lastName}}
        </p>
        {{#if (eq scriptData.status "purchased")}}
        <p class="is-size-6 is-size-7-mobile has-text-weight-medium mb-1">
          Purchased by:
        </p>
        <p class="is-size-6 is-size-7-mobile">
          {{scriptData.Assignee.firstName}} {{scriptData.Assignee.lastName}}
        </p>
        {{/if}}
      </div>
      <footer class="mt-5">
        <button class="button is-info is-light" onclick="history.back()">
          Go back!
        </button>
      </footer>
    </div>
  </main>
</div>
